/* CadastroCliente.css */

:root{
  --primary-color: #752512;
  --secondary-color: #A73A21;
  --tertiary-color: #C65338;
  --quaternary-color: #FEAA80;
  --quinary-color: #FDBC9B;
  --senary-color: #FFEBE1;
  --septenary-color-vibrant: #ee5e3a;
}


body, html {
  height: 100%;
  margin: 0;

}

.cadastro_cliente {
  max-width: 600px;
  margin: 8rem auto;;
  background-color: #FFEBE1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 60px 100px;
  border-radius: 50px;
  text-align: center;
}

.cadastro_cliente h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 24px;
  color: var(--primary-color);
}
/* Estilo para os fieldsets */
fieldset {
  border: 0px solid #ccc; /* Linha do fieldset */
  padding: 20px;
  margin-bottom: 40px;
  position: relative; /* Permite ajustar a posição da legend */
}

legend {
  font-size: 18px;
  color: var( --primary-color);
  padding: 0 10px;
  position: absolute; /* Posiciona a legend sobre a linha */
  top: -17px; /* Ajusta a posição vertical */
  left: 50px; /* Alinha à esquerda */
}


.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input, .cadastro-select{
  margin-bottom:12px;
  margin-right:15px;
  padding: 10px;
  border: 1px solid var(--senary-color);
  border-radius: 8px;
  font-size: 16px;
  color: var(--primary-color);
}

.form-group input:focus ,  .cadastro-select:focus{
  border-color:var(--tertiary-color);
  outline: none;
}


.form-group label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #333;
}

.form-group label input[type="checkbox"] {
  width: 20px;
  height: 20px;
 
}

input[type="checkbox"] {
  display: none;
}


/* Estilo do radio personalizado */
.checkbox-custom {
  width: 15px;
  height: 15px;
  border: 2px solid var(--quaternary-color);
  border-radius: 20%;
  position: relative;
  transition: border-color 0.3s ease;
  
}

input[type="checkbox"]:checked + .checkbox-custom::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color:var(--tertiary-color);
  border-radius: 10%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o ponto */
}

.buttom-form {
  padding: 10px;
  background-color:var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
}

.buttom-form:hover {
  background-color: var(--quaternary-color);
  color:var(--primary-color);
}

/* Estilo para os campos de endereço de cobrança quando visíveis */
.form-group > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  .cadastro_cliente {
    padding: 15px;
  }

  .form-group input {
    font-size: 14px;
  }

  .buttom-form {
    font-size: 14px;
  }
}


