


.banner-container {
  display: flex;
  align-items: center; /* Alinha verticalmente o conteúdo e a imagem */
  justify-content: space-between; /* Espaço entre o conteúdo e a imagem */
  padding: 0px 20px;
   background-color: #FFEBE1;
  background-image: url('../images/Star11.png');
  
  max-width: 1300px; /* Limita a largura do contêiner */
  margin: 3% auto; /* Centraliza o contêiner na tela */
  border-radius: 40px;
  border: 2px dashed  #752512; /* Borda com cor amarela */
}

.banner-content {
  max-width: 600px; /* Largura máxima do conteúdo */
  text-align: left; /* Alinha o texto à esquerda */
  margin: 0 60px; /* Margem à esquerda para o conteúdo */
}

.banner-title {
  text-align: left; /* Alinha o título à esquerda */
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; /* Cor do título */
  width: 300px; /* Largura do título */
}

.banner-subtitle {
  text-align: left; /* Alinha o subtítulo à esquerda */
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 50px;
  color: #666; /* Cor do subtítulo */
}

.banner-description {
  text-align: left; /* Alinha a descrição à esquerda */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #444; /* Cor da descrição */
}

.banner-text {
  text-align: left; /* Alinha o texto à esquerda */
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #555; /* Cor do texto */
}

.banner-button {
  text-align: left; /* Alinha o botão à esquerda */
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color); /* Cor do botão usando a variável */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}

.banner-button a {
  color: #ffffff;
  text-decoration: none;
}

.banner-button:hover {
  background-color: var(--secondary-color); /* Cor do botão ao passar o mouse */
}

.banner-image {
  max-width: 35%; /* Largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Bordas arredondadas */
  margin: 0 120px 0 0; /* Margem à direita para a imagem */
}

.info-section {
  background-color: #f8f8f8;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-section h2 {
  font-size: 16px;
  color:var(--primary-color);
  margin-bottom: 15px;
  font-weight: bold;
}

.info-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;

}

.info-section ul li {
  font-size: 12px;
}

.info-section ul li a {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
}

.info-section ul li a:hover {
  color: #000000;
}

@media (max-width: 470px) {
  .info-section ul {
    flex-direction: row;
    gap: 10px;
  }
}


